global
    log /dev/log local0 info
    maxconn 4096
    user haproxy
    group haproxy
    daemon
    stats socket /run/haproxy.sock mode 660 level admin
    # ISO8601 logging format with milliseconds
    log-format "%=[date,date_us] %T %t %ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC \ %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    default_backend triton_backend

backend triton_backend
    balance roundrobin
    server gpu1 sp26-cs525-0605.cs.illinois.edu:8000 check
    server gpu2 sp26-cs525-0606.cs.illinois.edu:8000 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /metrics
    stats refresh 10s
